# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprefs

# Unreal Engine generated folders
Binaries/
Build/*
!Build/**/*.ico
DerivedDataCache/
Intermediate/
Saved/

# Rider
.idea/

# Xcode
*.xcworkspace
xcuserdata/

# Logs
*.log

# Temporary files
*.tmp