/DerivedDataCache/
/Intermediate/
/Saved/
/Build/
/Binaries/

/.vs/
/.idea/
/.vscode/
/*.sln
/*.xcodeproj
/*.xcworkspace
/*.suo
/*.opensdf
/*.sdf
/*.cache
/*.VC.db
/*.VC.VC.opendb

/Plugins/*/Intermediate/

/*.exe
/*.apk
/*.ipa

/Plugins/Developer/

.DS_Store
Thumbs.db
Desktop.ini

*.pyc
/FastBuild/
/IncrediBuild/